#logo {
	font-family: "Lobster";
	color: #53d6ed;
}

#name {
	font-family: "Roboto";
	color: #018fa8;
}

#list {
	font-family: "Coiny";
	color: #025f70;
	font-size: 20px
}


#abc {
	font-family: "Roboto+Slab";
	color: #2b8a9b;
	font-size: 30px

}