<!DOCTYPE html>

<html>
    <head>
    	{% load static %}
    <!-- <title>My Title</title> -->
    <!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
-->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Coiny&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>

<!-- <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist"> -->
  <!--
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="{% url 'product:views' %}" role="tab" aria-controls="pills-home" aria-selected="true">Log in</a>
  </li>
	-->

<!--
  <li class="nav-item">
    <a href="{% url 'product:main' %}" class="nav-link" id="pills-profile-tab" data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false">Home</a>
  </li>
  <li class="nav-item">
    <a href="{% url 'product:logout' %}" class="nav-link" id="pills-contact-tab" data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false">Log out</a>
  </li>

</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"></div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"></div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"></div>
</div>

-->

<!--
<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">

		<div class="navbar-header">
			<a href="{% url 'product:main' %}" class="navbar-brand">CRUDY</a>
		</div>

		<div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="{% url 'product:main' %}">Home</a></li>
				
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="{% url 'product:logout' %}">Log out</a></li>
			</ul>
		</div>
	</div>	
-->


 <nav class="navbar navbar-inverse">
  
  <div class="container-fluid">
   
    <div class="navbar-header">
      <a class="navbar-brand" href="#" id='logo'>CRUDY</a>
    </div>
   
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'product:main' %}">Home</a></li>
      <!--
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
  -->
    </ul>
   
    <ul class="nav navbar-nav navbar-right">
      {# <li><a href="{% url 'product:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> #}
      <li><a href="{% url 'product:logout' %}"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
    </ul>
  
  </div>

</nav> 
	
		{% block abc %}
		{% endblock %}
		

</body>
</html>